@{
    ViewBag.Title = "Home Page";
}
<!--
text: привязка к текстовому содержимому элемента html

html: привязка к html-коду элемента

visible: устанавливает видимость привязанного элемента html

css: добавляет или удаляет классы CSS для привязанного элемента html

style: устанавливает привязку к стилю элемента

attr: позволяет установить значения определенных атрибутов элемента
-->
<style>
    .style1 
    {
        color: green;
        font-family: Calibri;
        font-weight: bold;
        font-size: large;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!-- #1 - Привязка -->
        <h3>&minus;Привязка&minus;</h3>
        <h1>Привет <span data-bind="text: name"></span></h1>

        <hr />

        <!-- #2 - Привязка с условием-->
        <h3>&minus;Привязка с условием&minus;</h3>
        Текущее время: <span data-bind="text: hour"></span>
        <br />
        Сейчас: <span data-bind="text: (hour <= 12) ? 'утро' : 'вечер'"></span>

        <hr />

        <!-- #3 - Привязка с изменением -->
        <h3>&minus;Привязка с изменением&minus;</h3>
        <p data-bind="text: phoneName"></p>
        <p><button id="Button_ChangePhoneName">Изменить</button></p>

        <hr />

        <!-- #5 - VISIBLE -->
        <h3>&minus;Visible&minus;</h3>
        <div data-bind="visible: DivVisible;">
            Скрываемый блок
        </div>
        <button id="Button_ShowHide">Показать/Скрыть</button>

        <hr />

        <!-- #6 - HTML -->
        <h3>&minus;HTML&minus;</h3>
        <h1 data-bind="html: htmlContent"></h1>

        <hr />

        <!-- #7 - CSS -->
        <h3>&minus;CSS&minus;</h3>
        <div data-bind="css: { style1: cssEnabled }">
            Стилизованный блок CSS
        </div>
        <button id="Button_ChangeCss">Переключить CSS</button>

        <hr />

        <!-- #8 - Style -->
        <h3>&minus;Style&minus;</h3>
        <div data-bind="style: {color: customColor}">
            Стилизованный блок Style
        </div>
        <button id="Button_ChangeStyle">Изменть Style</button>

        <hr />

        <!-- #9 - Attr -->
        <h3>&minus;Attr&minus;</h3>
        <a data-bind="attr: { href: attrUrl, title: attrDescription }">Главная</a>

        <hr />

        <!-- #10 - Binding Array to List -->
        <h3>&minus;Binding Array to List&minus;</h3>
        <ul data-bind="foreach: phones">
            <li data-bind="text: $data"></li>
        </ul>

        <hr />

        <!-- #11 - Binding object Array to List -->
        <h3>&minus;Binding object Array to List&minus;</h3>
        <ul data-bind="foreach: cars">
            <li>
                <p data-bind="text: mark"></p>
                <p data-bind="text: model"></p>
            </li>
        </ul>

        <hr />

        <!-- #12 - ObservableArray - Наблюдаемые массивы -->
        <h3>&minus;ObservableArray - Наблюдаемые массивы&minus;</h3>
        <ul data-bind="foreach: friends">
            <li>
                <p data-bind="text: name"></p>
                <p data-bind="text: age"></p>
            </li>
        </ul>
        <button id="Button_AddFriend">Добавить</button>

        <hr />

        <!-- #13 - AS - Использование псевдонима -->
        <h3>&minus;AS - Использование псевдонима&minus;</h3>
        <ul data-bind="foreach: {data: computers, as: 'computer'}">
            <li>
                <p data-bind="text: computer.company"></p>
                <p data-bind="text: computer.model"></p>
            </li>
        </ul>

        <hr />

        <!-- #14 - Обратные вызовы привязки foreach -->
        <!--
        afterRender: вызывается, когда сработала самая первая инициализация привязки foreach, и также срабатывает при добавлении нового элемента в массив
        afterAdd: срабатывает каждый раз при добавлении нового элемента в массив
        beforeRemove: срабатывает перед удалением элемента из массива. Как правило, используется для анимации удаления
        beforeMove: вызывается до перемещения элемента внутри массива
        afterMove: вызывается после перемещения элемента внутри массива
        -->
        <h3>&minus;Обратные вызовы привязки foreach&minus;</h3>
        <ul data-bind="foreach: {data: friends, afterAdd: afterAddFriend}">
            <li>
                <p data-bind="text: name"></p>
                <p data-bind="text: age"></p>
            </li>
        </ul>
        <button id="Button_AddFriendWithEvent">Добавить</button>

        <hr />

        <!-- Привязка IF и IFNOT -->
        <h3>Привязка IF и IFNOT</h3>
        <div class="jumbotron">
            <div data-bind="if: IfVisible">
                Скрытое содержание IF
            </div>
        </div>
        <div class="jumbotron">
            <div data-bind="ifnot: IfVisible">
                Скрытое содержание IF NOT
            </div>
        </div>
        <div class="jumbotron">
            <!-- ko if: IfVisible -->
            <p>Скрытое содержание в комментариях</p>
            <!-- /ko -->
        </div>
        <button id="Button_ShowHideIf">Скрыть/Отобразить</button>
    </div>
</div>
<script>
    var viewModel =
        {
            //#1 - Простой биндинг
            name: "Владимир",

            //#2 - Биндинг с условием
            hour: new Date().getHours(),

            //#3 - Observable - Отслеживаемые объекты (отслеживает изменения и при их наличии обновляет связанные компоненты)
            //  Для наблюдаемых объектов применятеся метод Observable
            //  Для получения данных: var name = viewModel.phoneName();
            //  Для записи данных: viewModel.phoneName("Samsung galaxy S10");
            phoneName: ko.observable("Samsung galaxy S6"),

            //#5 - Visible - Отображение/Скрытие элемента
            DivVisible: ko.observable(true),

            //#6 - HTML
            htmlContent: "<span style='color: red;'>Привет, KnokoutJS!</span>",

            //#7 - CSS
            cssEnabled: ko.observable(true),

            //#8 - Style
            customColor: ko.observable("purple"),

            //#9 - Attr
            attrUrl: ko.observable("onlineservice.kz"),
            attrDescription: ko.observable("Перейти на главную страницу"),

            //#10 - Binding Array to List
            phones: ["iPhone 6S", "LG G5", "Lumia 950", "Nexus 6P", "Samsung Galaxy S6"],

            //#11 - Binding object Array to List
            cars:
                [
                    {
                        mark: "Mercedes",
                        model: "G 400"
                    },
                    {
                        mark: "Mitsubishi",
                        model: "Pajero"
                    },
                    {
                        mark: "Suzuki",
                        model: "Grand Vitara"
                    }
                ],

            //#12 - ObservableArray - Наблюдаемые массивы
            friends: ko.observableArray
                (
                    [
                        new Friend("Ринат", "35"),
                        new Friend("Азамат", "35"),
                        new Friend("Бахытжан", "32"),
                        new Friend("Ануар", "39")
                    ]
                ),

            //#13 - AS - Использование псевдонима
            computers: 
                [
                    {
                        company: "HP",
                        model: "Pavillion"
                    },
                    {
                        company: "Asus",
                        model: "A8"
                    },
                    {
                        company: "Lenovo",
                        model: "G5"
                    }
                ],

            //#14 - Обратные вызовы привязки foreach
            //  Необходимо подключить JQuery
            afterAddFriend: function (element, index, data)
            {
                $(element).filter("li").css("opacity", 0.1);
                $(element).filter("li").fadeTo(2000, 1.0);
            },

            //#15 - Привязка IF и IFNOT
            IfVisible: ko.observable(true)
        };
    ko.applyBindings(viewModel);

    //#3
    var Button_ChangePhoneName = document.getElementById("Button_ChangePhoneName");
    Button_ChangePhoneName.addEventListener
        (
            "click",
            function (e)
            {
                viewModel.phoneName("Samsung Galaxy S10");
            }
        );

    //#4 - Subscribe
    //  С помощью Subscribe можно отслеживать изменения в наблюдаемых объектах и выполнять определенные действия
    viewModel.phoneName.subscribe
        (
            function (newValue)
            {
                alert("Новое значение: " + newValue);
            }
        );

    //  #5
    var Button_ShowHide = document.getElementById("Button_ShowHide");
    Button_ShowHide.addEventListener
        (
            "click",
            function (e)
            {
                viewModel.DivVisible(!viewModel.DivVisible());
            }
    );

    //#7 - CSS
    var Button_ChangeCss = document.getElementById("Button_ChangeCss");
    Button_ChangeCss.addEventListener
        (
            "click",
            function (e)
            {
                viewModel.cssEnabled(!viewModel.cssEnabled());
            }
    );

    //#8 - Style
    var Button_ChangeStyle = document.getElementById("Button_ChangeStyle");
    Button_ChangeStyle.addEventListener
    (
            "click",
            function (e)
            {
                if (viewModel.customColor() == "purple")
                    viewModel.customColor("green");
                else
                    viewModel.customColor("purple");
            }
    );

    //#12 - ObservableArray - Наблюдаемые массивы
    function Friend(name, age)
    {
        this.name = name;
        this.age = age;
    }

    var Button_AddFriend = document.getElementById("Button_AddFriend");
    Button_AddFriend.addEventListener
    (
        "click",
        function (e)
        {
            viewModel.friends.push(new Friend("Арман", "36"));
        }
    );

    //#14 - Обратные вызовы привязки foreach
    //  Необходимо подключить JQuery
    var Button_AddFriendWithEvent = document.getElementById("Button_AddFriendWithEvent");
    Button_AddFriendWithEvent.addEventListener
        (
            "click",
            function (e)
            {
                viewModel.friends.push(new Friend("Азамат", "35"));
            }
        );

    //#15 - Привязка IF и IFNOT
    var Button_ShowHideIf = document.getElementById("Button_ShowHideIf");
    Button_ShowHideIf.addEventListener
        (
            "click",
            function (e)
            {
                if (viewModel.IfVisible() == true)
                    viewModel.IfVisible(false);
                else
                    viewModel.IfVisible(true);
            }
        );
</script>